/**
 * @file
 * Stylesheets for TaxiOrder module.
 */

/* Timepicker */
.ui-timepicker-table {
  border-collapse: separate;
  border-spacing: 2px;
  border: 1px solid #DDD;
}

.taxiorder-entered {
  border: 2px solid #FFA500;
  background-color: #FFFF9A;
}

/* Show Route button */
.taxiorder-show-route-button {
  display: none;
}
